<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js Docker Example</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
    }
    h1 {
      background-color: #4CAF50;
      padding: 20px;
      color: white;
      border-radius: 8px;
      font-size: 2rem;
      margin: 30px auto;
    }
  </style>
</head>
<body>
  <h1>Bienvenue TIPA dans notre première image Docker</h1>
</body>
</html>
